attrs==19.3.0
certifi==2022.12.7
chardet==3.0.4
cycler==0.10.0
Cython==0.29.19
datarobot==2.23.0
hdbscan==0.8.26
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
llvmlite==0.32.1
matplotlib==3.2.1
numba==0.49.1
numpy==1.18.4
pandas==1.0.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-toolbelt==0.9.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
tbb==2019.0
threadpoolctl==2.1.0
trafaret==1.2.0
umap-learn==0.4.3
urllib3==1.25.9
xlrd==1.2.0
